html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*** End CSS Reset *********************************/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#widget {
    position: fixed;
    right: 0;
    width: 400px;
    height: 100%;
    background: #374D59;
    box-shadow: 0px 0px 24px rgba(40, 62, 74, 0.5);
    padding: 28px;
    text-align: center;
}

.messageTitle {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

#newMessage form {
    margin-top: 40px;
}

#newMessage form input {
    padding: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #4F4F4F;
    background: #E1E9EE;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
}

textarea {
    width: 380px;
    min-height: 260px;
    background: #E1E9EE;
    padding: 20px 10px;
    border: none;
    border-radius: 0 0 4px 4px;
    resize: none;
    font-size: 16px;
    line-height: 22px;
}

textarea::-ms-input-placeholder {
    text-indent: 0px;
    padding-bottom: 8px;
}

input:focus, textarea:focus, select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

#importantPoints {
    min-height: 100px;
    background: #ABCEE0;
}


/*** Typography *********************************/

.messageTitle {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

#scenarioList {
    text-align: left;
}

#scenarioList a {
    text-decoration: none;
    color: #E1E9EE;
    line-height: 40px;
}

#scenarioList a:hover {
    color: #0077B5;
}


/*** Images and Buttons *********************************/

button {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background: #0077B5;
    border: none;
}

#composeMessage {
    position: absolute;
    width: 90px;
    top: 28px;
    right: 28px;
}

#saveMessage {
    position: absolute;
    width: 90px;
    bottom: 100px;
    right: 28px;
}

#redirect button a, button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

#backgroundFilter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #4F4F4F;
    z-index: -2;
    opacity: 50%;
}

#textFormat {
    display: flex;
    color: #fff;
}

#textFormat img {
    margin: 20px 20px 0 0;
}